
.test{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
    background-color: #000;
}

.test{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.test p{
    color: azure;
}

.MESSAGE{
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px orange;
    width: 320px;
    text-align: center;
}

.MESSAGE h2{
    color: orange;
    margin-bottom: 20px;
}

.submit-btn{
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 10px;
}

.submit-btn:hover{
    background: linear-gradient(90deg, yellow, orange);
    box-shadow: 0 5px 15px rgb(125, 82, 0);
}